<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="auth" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="dir" value="_data"/>
		<add key="port" value="821"/>
	</appSettings>
	<auth>
		<add key="bob" value="123" />
		<add key="alice" value="321" />
	</auth>
</configuration>